body {
  font-family: 'Montserrat', sans-serif;
}


p.about-me {
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    width: 85%;
    padding-top: 1%;
    padding-bottom: 3%;
    margin: 0 auto;
    text-align: center;
    font-size: 21px;
    line-height: 30px;
    color: rgb(121, 121, 121);
}

p.links {
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

a.footerLinks {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  color: rgb(225, 0, 39);
  text-decoration: underline;
}

p.img-description {
  font-size: 15px;
  color: rgb(121, 121, 121);
  /*padding-left: 10%;
  padding-right: 10%;*/
}

p.expertise_description {
  font-size: 18px;
  color: rgb(121, 121, 121);
  padding-left: 0;
  width: 100%;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

p.expertise_header {
  font-size: 24px;
  color: rgb(121, 121, 121);
  padding-left: 0;
  width: 100%;
  font-weight: 900;
  text-align: center;
  padding-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
}

div.hero-content {
    margin-top: 0;
    display: block;
    background-image: url(assets/bg1.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

div.about-me {
  /*margin-top: 5%;*/
  display: block;
  /*margin-right: 5rem;
  margin-left: 5rem;*/
  background-color: #eee;
}

div.about-me2 {
  /*margin-top: 5%;*/
  display: block;
  /*margin-right: 5rem;
  margin-left: 5rem;*/
  background-color: white;
}

section {
  margin-top: 0;
}

h2 {
  font-size: 18px;
  text-align: center;
  color: black;
  /*padding-top: 6%;*/
}

h2.contact_subhead {
  font-size: 1.75vh;
  text-align: center;
  color: black;
  font-weight: normal;
}

div.header {
  /*font-size: 2.5vw;*/
  text-align: center;
  color: black;
  padding-top: 6%;
  align-content: center;
  display: block;
  width: auto;
}

div.about-me-header {
  margin-bottom: -2%;
}


h1 {
  font-size: 33px;
  text-align: center;
  color: black;
  font-weight: bolder;
  margin: 2% auto;
  padding-bottom: 1%;
  width: 50%;
  /*border-bottom: 1px solid rgb(191, 191, 191);*/
  /*padding-top: 6%;*/
}

h1.hero_header {
  font-size: 82px;
  color: white;
  font-weight: bold;
  padding-top: 12%;
}

h2.hero_header2 {
  font-size: 30px;
  color: white;
}

h3.hero_header3 {
  font-size: 15px;
  color: black;
  padding: .5%;
  width: 250px;
  font-family: helvetica;
  border-radius: 10px;
  margin-top: 7%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  background-color: rgb(255,226,110);
}



a.contact_btn {
  text-decoration: none;
  color: inherit;
  background: none;
}

a.contact_btn_bottom {
  text-decoration: none;
  color: inherit;
  background: none;
}

div.work {
  background-color: white;
  /*margin-top: 1%;*/
}

/* #tribute_home {
  background-image: url(assets/);
} */

div.nnoww {
  background-image: url(assets/web_dev_1.png);
  background-size: cover;
  background-position: center;
  height: 30vh;
  padding: 0;
  background-repeat: no-repeat;
}

div.todo {
  background-image: url(assets/web_dev_2.png);
  background-size: cover;
  background-position: center;
  height: 30vh;
  padding: 0;
  background-repeat: no-repeat;
}

div.calculator {
  background-image: url(assets/web_dev_4.png);
  background-size: cover;
  background-position: center;
  height: 30vh;
  padding: 0;
  background-repeat: no-repeat;
}

div.color {
  background-image: url(assets/web_dev_3.png);
  background-size: cover;
  background-position: center;
  height: 30vh;
  padding: 0;
  background-repeat: no-repeat;
}

/* div.drs {
  background-image: url(assets/drs.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 24vh;
  padding: 0;
  background-repeat: no-repeat;
} */

/*Professional Expertise Bars Beginning*/

div.skills_bar_template {
  font-size: 15px;
  color: white;
  padding-left: 0.75%;
  width: 100%;
  font-family: helvetica;
  font-weight: bold;
  border-radius: 10px;
  padding-top: 0.75%;
  margin-bottom: 2%;
  padding-bottom: 0.75%;
  /*animation: Animate-HTML 2s;
  -webkit-animation: Animate-HTML 2s;
  -moz-animation: Animate-HTML 2s;
  -o-animation: Animate-HTML 2s;*/
}

.blue {
background-color: rgb(5, 179, 156);
}

.purple {
  background-color: rgb(166, 49, 210);
  }

.orange {
  background-color: rgb(243, 146, 8);
}



.skills-Animate {
  position: relative;
  left: 0;
  opacity: 0;

}


div.skills_bar_container {
    background-color: #eee;
    border-radius: 10px;
    width: 100%;
  }

span.percentage {
  color: rgba(255, 255, 255, 0.7);
  font-weight: lighter;
}

span {
  font-weight: lighter;
  color: #eee;
  font-size: 18px;
}

span.test {
  color: pink;
}

/* skills bar animation */


/*@keyframes Animate-HTML {
    from {
    width: 250px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 250px;
}
to {
    width: 90%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 250px;
}
to {
    width: 90%}
}@-o-keyframes Animate-HTML {
    from {
    width: 250px;
}
to {
    width: 90%}
}*/

/*Professional Expertise Bars End*/

div.contact {
  background-color: rgb(255,226,110);
  margin-top: 2.5%;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 50px;
}

div.work_samples {
    background-color: rgb(117, 117, 117);
    width: 300px;
    height: 300px;
    margin-top: 5%;
}

div.work_samples_row {
  background-color: white;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
  box-sizing: border-box;
  display: block;
}

div.wrapper {
  margin-left: 8%;
  margin-right: 8%;
}


/*work samples images*/

div.img1 {
  width: 275px;
  height: 275px;
  padding-left: 3%;
  background-image: url(assets/tribute_home_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.img2 {
  width: 275px;
  height: 275px;
  padding-left: 3%;
  background-image: url(assets/ccny_home_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.img3 {
  width: 275px;
  height: 275px;
  padding-left: 3%;
  background-image: url(assets/golf_home_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.img4 {
  width: 275px;
  height: 275px;
  padding-left: 3%;
  background-image: url(assets/hf_home_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}



div.tribute1 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/tribute_work_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.tribute2 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/tribute_work_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.tribute3 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/tribute_work_3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.tribute4 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/tribute_work_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.tribute5 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/tribute_work_5.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.tribute6 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/tribute_work_6.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.tribute7 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/tribute_work_7.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.ccny1 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/ccny_work_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.ccny2 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/ccny_work_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.ccny3 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/ccny_work_3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.ccny4 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/ccny_work_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.golf1 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/golf_work_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}


div.golf2 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/golf_work_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.golf3 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/golf_work_3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.golf4 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/golf_work_5.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.hf1 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/hf_work_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.hf2 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/hf_work_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.hf3 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/hf_work_3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.hf4 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/hf_work_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.hf5 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/hf_work_5.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.hf6 {
  width: 100%;
  height: 100%;
  padding-left: 3%;
  background-image: url(assets/hf_work_6.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 8%;
  text-align: center;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  padding-top: 40%;
  padding-bottom: 8%;
  margin: 0 auto 3% auto;
  font-size: .9vw;
}

div.img_hover {
  background-color: #333;;
  text-align: center;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 12vh;
  font-weight: bold;
  -webkit-transition: background-color .5s  ease-out;
  -moz-transition: background-color .5s  ease-out;
  -o-transition: background-color .5s  ease-out;
  transition: background-color .5s ease-out;
  animation: fadein 2s;
  background-image: none;
}

div.expertise {
  width: 400px;
  height: 140px;
  /*padding-left: 3%;
  padding-right: 8%;*/
  width: 100%;
  padding-top: 2%;
  padding-bottom: 8%;
  margin: 0 auto 4% auto;
  font-size: .9vw;
}

span.strong {
  font-weight: 900;
  color: black;
}

span.text_description {
  font-family: helvetica;
  font-weight: bolder;
}

h1.contact {
  padding-bottom: 0;
}

div.white {
  background-color: white;
}

input.input_text {
width: 30%;
margin-top: 1%;
}

input.input_text_message {
width: 30%;
margin-top: 1%;
height: 150px;
word-wrap: break-word;
white-space: pre-wrap;
resize: auto;
cursor: text;
text-align: start;
}

button.submit_button {
background-color: rgb(225, 0, 39);
color: white;
text-align: center;
border-radius: 10px;
padding: 10px;
margin: auto;
font-family: helvetica;
font-weight: bolder;
width: 100%;
}

textarea {
  cursor: text;
  word-wrap: break-word;
}

div.form_container {
display: block;
margin: 40px auto;
/*padding-left: auto;
padding-right: auto;*/
width: 39vw;
}

div.submit_button_container {
  padding-left: auto;
  padding-right: auto;
}

input.form_name_content {
  width: 40vw;
  margin-top: 10px;
  border: none;
  margin-bottom: 15px;
  outline: none;
  border-bottom: 1px solid black;
  background-color: rgb(255,226,110);
}

textarea.text_message {
  width: 40vw;
  margin-top: 3vh;
  border: none;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid black;
  background-color: rgb(255,226,110);
}

div.footer_info {
    display: block;
    background-color: #252a30;
    height: 12vh;
}

p.footer_text {
  font-size: 1.15vh;
  color: gray;
  padding-top: 2%;
  text-align: center;
  margin: 10px auto;
}

div.social_media {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

a {
  color: white;
  background-color: white;
}

div.container_wrapper1 {
  padding-left: 10%;
  padding-right: 10%;
}


@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h1.hero_header {
  font-size: 55px;
  }
  h2.hero_header2 {
    font-size: 22px;
    }
  h3.hero_header3 {
      width: 35vw;
      font-size: 15px;
      padding: 6px;
      }
  h2 {
      font-size: 14px;
      }  
} 



@media screen and (max-width: 480px) {
  h1.hero_header {
    font-size: 50px;
    margin-top: 47%;
  }
  p.about-me {
    font-size: 17px;
    padding-left: 7%;
    margin-bottom: 4%;
    line-height: 24px;
    padding-right: 7%;
    width: 100%;
  }
h1.contact {
  margin-top: 7%;
  margin-bottom: 7%;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

div.skills-Animate {
  padding-left: 0;
  padding-right: 0;
  margin-top: 3%;
}

div.about-me-header {
margin-top: 7%;
}

h3.hero_header3 {
  width: 250px;
}

h2.hero_header2 {
  font-size: 19px;
}

div.hero_content {
  /* background-size: cover; */
}

a.contact_btn_bottom {
  font-size: 25px;
}

h2.contact_subhead {
  font-size: 18px;
}

}