body {
  font-family: 'Open Sans', sans-serif;
}


p.about-me {
    height: auto;
    padding-left: 3%;
    padding-right: 8%;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 8%;
    margin: 0 auto;
    font-size: 15px;
    color: rgb(121, 121, 121);
}

p.img-description {
  font-size: 15px;
  color: rgb(121, 121, 121);
  padding-left: 10%;
  padding-right: 10%;
}

p.expertise_description {
  font-size: 15px;
  color: rgb(121, 121, 121);
  padding-left: 0;
  width: 100%;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

div.hero-content {
    margin-top: 0;
    display: block;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
}

div.about-me {
  /*margin-top: 5%;*/
  display: block;
  /*margin-right: 5rem;
  margin-left: 5rem;*/
  background-color: #eee;
}

div.about-me2 {
  /*margin-top: 5%;*/
  display: block;
  /*margin-right: 5rem;
  margin-left: 5rem;*/
  background-color: white;
}

section {
  margin-top: 0;
}

h2 {
  font-size: 18px;
  text-align: center;
  color: black;
  /*padding-top: 6%;*/
}

div.header {
  /*font-size: 2.5vw;*/
  text-align: center;
  color: black;
  padding-top: 6%;
  align-content: center;
  display: block;
  width: auto;
}

div.about-me-header {
  margin-bottom: -2%;
}


h1 {
  font-size: 33px;
  text-align: center;
  color: black;
  font-weight: bolder;
  margin: 2% auto;
  padding-bottom: 1%;
  width: 50%;
  /*border-bottom: 1px solid rgb(191, 191, 191);*/
  /*padding-top: 6%;*/
}

div.work {
  background-color: white;
}

div.contact {
  background-color: rgb(255,226,110);
  margin-top: 2.5%;
}

div.work_samples {
    background-color: rgb(117, 117, 117);
    width: 300px;
    height: 300px;
    margin-top: 5%;
}

div.work_samples_row {
  background-color: white;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
  box-sizing: border-box;
  display: block;
}

div.wrapper {
  margin-left: 8%;
  margin-right: 8%;
}

div.img {
  width: 275px;
  height: 275px;
  padding-left: 3%;
  padding-right: 8%;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 8%;
  margin: 0 auto 5% auto;
  font-size: .9vw;
  background-color: #eee;
}

div.expertise {
  width: 400px;
  height: 140px;
  padding-left: 3%;
  padding-right: 8%;
  width: 80%;
  padding-top: 2%;
  padding-bottom: 8%;
  margin: 0 auto 0 auto;
  font-size: .9vw;
}

span.strong {
  font-weight: 900;
  color: black;
}

h1.contact {
  padding-bottom: 0;
}

div.white {
  background-color: white;
}

@media screen and (max-width: 768px)
body {
  font-size: 14px;
}
